/* BEGIN */

/*

	+Table of Contents
	==========================================

Search:

	+Begin
	+Default Styling
	+ Header
	+ Body
		- Introduction
		- Navigation
		- Sections
			i. Icons
			ii. Content
	+ Footer
	
	+End
	
	==========================================
	
*/


/* DEFAULT STYLING */
/* DEFAULT STYLING */

@font-face {
	font-family: 'Avenir Next Regular';
	src: url('../fonts/avenir-next-regular.woff');
}

@font-face {
	font-family: 'Avenir Next Demi';
	src: url('../fonts/avenir-next-demi.woff');
}

@font-face {
	font-family: 'Merriweather';
	src: url('../fonts/merriweather-regular.ttf'),
		 url('../fonts/merriweather-regular.woff'),
		 url('../fonts/merriweather-regular.eot'),
		 url('../fonts/merriweather-regular.svg');
}

@font-face {
	font-family: 'Graphik Bold';
	src: url('../fonts/Graphik-Bold.ttf'),
		 url('../fonts/Graphik-Bold.woff'),
		 url('../fonts/Graphik-Bold.woff2'),
		 url('../fonts/Graphik-BOld.eot'),
		 url('../fonts/Graphik-BOld.svg');
}

@font-face {
	font-family: 'Graphik Medium';
	src: url('../fonts/Graphik-Medium.ttf'),
		 url('../fonts/Graphik-Medium.woff'),
		 url('../fonts/Graphik-Medium.woff2'),
		 url('../fonts/Graphik-Medium.eot'),
		 url('../fonts/Graphik-Medium.svg');
}

@font-face {
	font-family: 'Graphik Regular';
	src: url('../fonts/Graphik-Regular.ttf'),
		 url('../fonts/Graphik-Regular.woff'),
		 url('../fonts/Graphik-Regular.woff2'),
		 url('../fonts/Graphik-Regular.eot'),
		 url('../fonts/Graphik-Regular.svg');
}

@font-face {
	font-family: 'Graphik Light';
	src: url('../fonts/Graphik-Light.ttf'),
		 url('../fonts/Graphik-Light.woff'),
		 url('../fonts/Graphik-Light.woff2'),
		 url('../fonts/Graphik-Light.eot'),
		 url('../fonts/Graphik-Light.svg');
}

body {
	font-size: 10px;
	margin: 0px;
	padding-bottom: 100px;
}

h1 {
	font-family: 'Graphik Medium', Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 2.5px;
	line-height: 1em;
	text-transform: uppercase;
	color: #b2b2b2;
}

h2 {
	font-family: 'Graphik Medium', Arial, Helvetica, sans-serif;
	font-size: 12px;
	letter-spacing: 2.5px;
	line-height: 2em;
	text-transform: uppercase;
}

h3 {
	font-family: 'Graphik Medium', Arial, Helvetica, sans-serif;
	font-size: 12px;
	letter-spacing: 2.5px;
	line-height: 2em;
	text-transform: uppercase;
}

h4 {
	font-family: 'Graphik Medium', Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 2.5px;
	line-height: 2em;
	text-transform: uppercase;
	margin-bottom: 28px;
}

p {
	font-family: 'Graphik Light', Arial, Helvetica, sans-serif;
	font-size: 25px;
	letter-spacing: 0.04em;
	line-height: 50px;
	padding-top: 0px;
}

p1 {
	font-family: 'Graphik Light', Arial, Helvetica, sans-serif;
	font-size: 18px;
	letter-spacing: .03em;
	line-height: 2em;
	/* color: #555555; */
	margin: 0px;
}

p2 {
	font-family: 'Graphik Regular', Arial, Helvetica, sans-serif;
	font-size: 12px;
	letter-spacing: .04em;
	line-height: 1.75em;
}

a {
	color: #000000;
	text-decoration: none;
	border-bottom: 3px solid #CCCCCC;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

a:hover {
	border-bottom: 3px solid #000000;
/*	border-bottom: 3px solid #99FFA0;
	border-bottom: 3px solid #34ff67;
	border-bottom: 3px solid #3D4A2D;
	border-bottom: 3px solid #5757F4;
	border-bottom: 3px solid #BFF7C3;*/
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}


/* GLOBAL WIDTH */
/* GLOBAL WIDTH */

.introduction {
	width: 425px;
	margin: 0px auto 100px auto;
	text-align: left;
}

.me {
	width: 435px;
	margin: 0px auto 65px auto;
	text-align: left;
}


/* TOP BAR */
/* TOP BAR */

.header {
	width: 425px;
	margin: 0px auto;
} 

.topbar {
	margin: 100px auto 100px;
}

.name {
	float: left;
	font-size: 40px;
	font-family: 'Graphik Bold', Avenir, Helvetica, sans-serif;
	text-align: center;
	height: 60px;
	border-bottom: 4px #000000 solid;
	font-weight: 400;
	letter-spacing: -1px;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.name.interactive:hover {
	color: #363636;
	border-bottom: 4px #363636 solid;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.nav {
	text-align: center;
	height: 58px;
	padding-top: 1px;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.nav.about {
	float: left;
	margin-left: 42px;
	border-bottom: 4px #ffffff solid;
}

.nav.about:hover {
	border-bottom: 4px #b2b2b2 solid;
}

.nav.works {
	float: left;
	margin-left: 38px;
	border-bottom: 4px #ffffff solid;
}

.nav.works:hover {
	border-bottom: 4px #b2b2b2 solid;
}

.nav.about.current {
	border-bottom: 4px #000000 solid;
}

.nav.current h1 {
	color: #000000;
}


/* INDEX - CONTENT */
/* INDEX - CONTENT */

/* CONTENT - PROJECTS */
/* CONTENT - PROJECTS */

.projects {
	text-align: center;
}

.tile {
	position: relative;
	float: left;
	overflow: hidden;
	width: 33.3333333%;
}

.tile:before {
	content: "";
	display: block;
	padding-top: 100%;
}

.tile:hover .project {
	opacity: 1;
	-webkit-transition: all .7s ease-in-out;
	-moz-transition: all .7s ease-in-out;
	-o-transition: all .7s ease-in-out;
	transition: all .7s ease-in-out;
}

.tile-image {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.project {
	display: block;
	opacity: 0;
	-webkit-transition: all .7s ease-in-out;
	-moz-transition: all .7s ease-in-out;
	-o-transition: all .7s ease-in-out;
	transition: all .7s ease-in-out;
}

.project a {
	color: inherit;
}

.project h2 {
	font-family: Avenir, Helvetica, sans-serif; 
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin-top: 15%;
	opacity: .2;
	z-index: 100;
	-webkit-font-smoothing: antialiased;
}

.project-logo {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 200;
}

.project h3 {
	font-family: Avenir, Helvetica, sans-serif;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin-top: 80%;
	padding: 0 5%;
	-webkit-font-smoothing: antialiased;
}


/* CONTENT - PROJECT BY PROJECT */
/* CONTENT - PROJECT BY PROJECT */

.tile.one {
	background-color: #5591c3;
	color: #ffffff;
}

.tile.two {
	background-color: #FFCC33;
	color: #000000;
}

.tile.three {
	background-color: #4f91cd;
	color: #004990;
}

/* .tile.four {
	background-color: #5591c3;
	color: #ffffff;
	margin: 0px auto 120px 33.3%;
} */

.project-logo.one img {
	width: 55%;
	margin-top: 44%;
}

.project-logo.two img {
	width: 40%;
	margin-top: 44%;
}

.project-logo.three img {
 	width: 38%;
	padding-top: 47%;
}

/* .project-logo.four img {
 	width: 55%;
	padding-top: 47%;
} */

.tile-image.one img {
	width: 100%;
	margin-top: 0;
}

.tile-image.two img {
	width: 70%;
	margin-top: 15%;
}

.tile-image.three img {
	width: 70%;
	padding-top: 22%;
}

.tile-image.four img {
	width: 100%;
	margin-top: 0;
}


/* ABOUT - CONTENT */
/* ABOUT - CONTENT */

.touch {
	position: absolute;
	margin-top: -6px;
	margin-left: 30px;
	padding: 6px 24px;
	font-family: 'Graphik Medium', Arial Bold, Helvetica Bold, sans-serif;
	font-size: 12px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	display: inline-block;
	opacity: 1;
	background-color: #ffffff;
	box-shadow: 0px 7px 20px #e9e9e9;
	border-radius: 50px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

/* .touch a {
	border-bottom: none;
} */

.touch:hover {
	box-shadow: 0px 10px 20px #DDDDDD;
	background-color: #fafafa;
}

/* CONTENT - RESUME */
/* CONTENT - RESUME */

.resume {
	margin-bottom: 35px;
}

.resume-desc {
	margin-left: 170px;
}

.resume-desc a {
	text-decoration: none;
	border-bottom: 2px solid #CCCCCC;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.resume-desc a:hover {
	border-bottom: 2px solid #000000;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.leaving {
	position: absolute;
	margin-top: 11px;
	margin-left: 8px;
	font-size: 12px;
	color: #000000;
	display: inline-block;
	pointer-events: none;
	opacity: 0;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.resume-logo:hover .leaving {
	opacity: 1;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.resume-logo.parsley img {
	width: 125px;
	margin-top: 10px;
	margin-bottom: 30px;
	filter: brightness(35%);
	float: left;
}

.resume-logo.airbnb img {
	width: 100px;
	margin-top: 0px;
	margin-bottom: 30px;
	float: left;
}

.resume-logo.canary img {
	width: 75px;
	margin-top: 11px;
	margin-bottom: 30px;
	float: left;
}

.resume-logo.wb img {
	width: 125px;
	margin-top: 12px;
	margin-bottom: 30px;
	float: left;
}

.resume-logo.rokkan img {
	width: 97px;
	margin-top: -6px;
	margin-bottom: 30px;
	margin-left: 2px;
	float: left;
}

.resume-logo.harvard img {
	width: 123px;
	margin-top: 1px;
	margin-bottom: 30px;
	float: left;
}

.resume-logo.cornell img {
	width: 104px;
	margin-top: 0px;
	margin-bottom: 30px;
	float: left;
}

.forward {
	position: absolute;
	height: 20px;
	padding: 7px 0 0 5px;
}
